/*  This is the CSS for HTML HOT #1 */
body {
  background-color: cornsilk;
  color: navy;
}

#wrapper {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0 auto;
}

li {
  display: inline;
}
